@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700&display=swap');

:root{
    --hilight: #00FF80;
    --white: white;
    --dark-grey:#313233;
    --text-color:black;
    --light-grey:#adadad;
  }
  

/* body{
    background-color: #262333;
} */


h1{
    margin-top: 0;
}

a{
    text-decoration: none;
}

.green{
    color:var(--hilight)!important;
}

/* this is the navbar */
*{
    font-family: 'Roboto', sans-serif;
    text-emphasis: thin;
    font-weight:400;
}

.button-green{
    background-color: var(--hilight);
    box-shadow: none;
    border: none;
    padding:.5vh;
    width: auto;
}

.button-green:hover{
    opacity: .5;
}

.bar{
    grid-area:nav;
    background-color: var(--dark-grey);
    height: 5vh;
}
.bar-item{
    font-weight: 300;
    line-height: 5vh;
    font-size: large;
    color:var(--light-grey);
    padding:.75vh;
    margin:auto;
}

.bar-item-main{
    font-weight: 400;
    font-size: 5vh;
    line-height: 5vh;
    font-size: large;
    color:var(--light-grey);
    padding:.75vh;
    margin:auto;
    border-right:1px solid #ccd1dd;
}

.bar-item-main:hover{
    color:var(--hilight);
}

.bar-item:hover{
    color:var(--hilight);
}

.no-wrap{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}



@media(hover: none) and (pointer: coarse){
  .bar{
      height: 10vh!important;
  }

  .bar-item{
      font-weight: 200;
      line-height: 10vh;
      font-size: 2vh;
      padding:.75vh;
      margin:auto;
  }

  .bar-item-main{
      font-weight: 400;
      font-size: 10vh;
      line-height: 10vh;
      font-size: 2vh;
      padding:.75vh;
      margin:auto;
  }
}