.code{
    background-color: var(--dark-grey);
    align-content: center;
    width: 90%;
    padding:10px;
    height: 60vh;
    margin:auto;
    overflow: scroll;
    border-radius: 0% !important;
}

.page-text{
    width: 90%;
    height: auto;
    padding:10px;
    background-color: var(--dark-grey);
    color:var(--light-grey);
    margin:auto;
}


.header{
    text-align: center;
}

.container{
    min-height: 95vh;
    background-color: var(--light-grey);
}