

.node-example{
    text-align: center;
    background-color: var(--light-grey);
}

.typescript-example{
    text-align: center;
    background-color: var(--dark-grey);
}



.card{
    display: inline-block;
    width:25vw;
    height:auto;
    text-align: center;
    margin:1vw!important;
    padding:1vw;
}

.node-example .card{
    background-color:var(--dark-grey);
}

.typescript-example .card{
    background-color:var(--light-grey);
    color:var(--dark-grey)
}

@media(hover: none) and (pointer: coarse){
    .card{
        display: inline-block;
        width:90vw;
        height:auto;
        text-align: center;
        margin:1vw!important;
    }
    .card h1{
        font-size: 3vw;
    }

}

.card h1{
    font-size: 4vh;
    line-height: 10vh;
}

.card:hover h1{
    color:var(--hilight);
}

.card-logo{
    max-width: 90%;
    height: 10vh;
}


.no-wrap-ellipsis{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
