/* grid setup area */
.section1{
    background-image: url("../images/BWCode.jpg");
    background-color: rgba(38, 35, 51,0.8);
    background-blend-mode: darken;
    background-size: cover;
    padding: 2vh;
    min-height: 50vh;
}



.section2{
    background-image: url("../images/Squares.jpg");
    background-color: rgba(38, 35, 51,0.8);
    background-blend-mode: darken;
    background-size: cover;
    padding: 2vh;
    min-height: 50vh;
}

.section3{
    background-image: url("../images/Cracks.jpg");
    background-color: rgba(38, 35, 51,0.8);
    background-blend-mode: darken;
    background-size: cover;
    padding: 2vh;
    min-height: 50vh;
}


.header-text{
    grid-area: image;
    justify-self: center;
    align-self: center;
    text-align:center;
    color:#ccd1dd;
    font-weight: 100;
    font-size: calc(20px + 4vmin);
    z-index: 1!important;
}

.cards{
    display:grid;
    grid-template-columns:30% 40% 30%;
    grid-template-rows:50vh;
    grid-template-areas: 
    "card1 card2 card3";
    z-index: 2;
}

.card-third1{
    grid-area: card1;
    padding:5vh;
}

.card-third2{
    grid-area: card2;
    padding:5vh;
}
.card-third3{
    grid-area: card3;
    padding:5vh;
}

.image-header-image3{
    grid-area: image3;
    width:100%;
    height:100%;
    opacity: .5;
    z-index: -1;
}

.card{
    text-align:center;
    color:#ccd1dd;
    background-color:#262333;
    padding:1vh;
    height:40vh;
}

.card img{
    max-height: 75%;
    max-width: 65%;
}

.card:hover h1{
    color:#31e184;
}

/* this is below the first image  */
.image-header1{
    grid-area: image1;
}

.image-header-image1{
    grid-area: image1;
    width:100%;
    height:100%;
    opacity: .5;
    z-index: -1;
}

.header-text1{
    grid-area: skillstitle;
    justify-self: center;
    align-self: start;
    color:#ccd1dd;
    font-weight: 100;
    font-size: calc(20px + 4vmin);
    z-index: 1!important;
}

/* skills sub grid */
.skills{
    grid-area: image1;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-columns:20% 60% 20%;
    grid-template-rows:10vh 5vh;
    grid-template-areas: 
    "skillstitle skillstitle skillstitle"
    "skill1name skill1bar skill1percentage"
    "skill2name skill2bar skill2percentage"
    "skill3name skill3bar skill3percentage"
    "skill4name skill4bar skill4percentage"
    "skill5name skill5bar skill5percentage"
    "skill6name skill6bar skill6percentage";
    z-index: 2;
}

.green{
    color:#31e184;
}

.header-text2{
    grid-area: image2;
    justify-self: center;
    align-self: center;
    text-align:center;
    color:#ccd1dd;
    font-weight: 100;
    font-size: calc(20px + 4vmin);
    z-index: 1!important;
}

.image-header2{
    grid-area: image2;
}

.image-header-image2{
    grid-area: image2;
    width:100%;
    height:100%;
    opacity: .5;
    z-index: -1;
}



/* percentage bars */

.percentbar90{
    background-color:#ffffff;
    height:2vh;
    width: 90%;
}

.percentbar80{
    background-color:#ffffff;
    height:2vh;
    width: 80%;
}

.percentbar60{
    background-color:#ffffff;
    height:2vh;
    width: 60%;
}

.skill1name{
    grid-area: skill1name;
    color:#31e184;
    z-index: 2;
    justify-self:end;
    padding-right: 2vh;
    align-self:center;
}

.skill1bar{    
    grid-area: skill1bar;
    justify-content: left;
    align-self:center;
}


.skill1percentage{
    grid-area: skill1percentage;
    color:#ccd1dd;
}

.skill2name{
    grid-area: skill2name;
    color:#31e184;
    z-index: 2;
    justify-self:end;
    padding-right: 2vh;
    align-self:center;
}

.skill2bar{    
    grid-area: skill2bar;
    justify-content: left;
    align-self:center;
}


.skill2percentage{
    grid-area: skill2percentage;
    color:#ccd1dd;
}


.skill3name{
    grid-area: skill3name;
    color:#31e184;
    z-index: 2;
    justify-self:end;
    padding-right: 2vh;
    align-self:center;
}

.skill3bar{    
    grid-area: skill3bar;
    justify-content: left;
    align-self:center;
}


.skill3percentage{
    grid-area: skill3percentage;
    color:#ccd1dd;
}

.skill4name{
    grid-area: skill4name;
    color:#31e184;
    z-index: 2;
    justify-self:end;
    padding-right: 2vh;
    align-self:center;
}

.skill4bar{    
    grid-area: skill4bar;
    justify-content: left;
    align-self:center;
}


.skill4percentage{
    grid-area: skill4percentage;
    color:#ccd1dd;
}

.skill5name{
    grid-area: skill5name;
    color:#31e184;
    z-index: 2;
    justify-self:end;
    padding-right: 2vh;
    align-self:center;
}

.skill5bar{    
    grid-area: skill5bar;
    justify-content: left;
    align-self:center;
}


.skill5percentage{
    grid-area: skill5percentage;
    color:#ccd1dd;
}

.skill6name{
    grid-area: skill6name;
    color:#31e184;
    z-index: 2;
    justify-self:end;
    padding-right: 2vh;
    align-self:center;
}

.skill6bar{    
    grid-area: skill6bar;
    justify-content: left;
    align-self:center;
}

.skill6percentage{
    grid-area: skill6percentage;
    color:#ccd1dd;
}


/* main */




.main{
    grid-area: main;
}



/* text settings */
.roboto-text-thick{
    font-family: 'Roboto', sans-serif;
    text-emphasis: thin;
    font-weight:700;
}

.roboto-text-thin{
    font-family: 'Roboto', sans-serif;
    text-emphasis: thin;
    font-weight:100;
}

.page-text{
    margin:auto;
    margin-bottom:2vh;
    padding:1vh;
    background-color: grey;
    color:white;
    width: 80%;
}

.page-text p{
    text-emphasis:bold;
}

