/* body{
    background-color: #262333!important;
} */

.top{
    background-image: url("../images/Buildingnumber2.jpg");
    background-size:fill;
    background-repeat: no-repeat;
    height: 20vh;
    position: relative;
}

.header-image{
    width:100%;
    height:100%;
    opacity: .5;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

.titleheader{
    text-align: center;
    line-height: 20vh;
}

.project-holder1{
    text-align: center;
    color:var(--dark-grey);
    background-color: var(--light-grey);
    min-height: 50vh;
    padding:1vh;
}

.project-holder2{
    text-align: center;
    color:var(--light-grey);
    background-color:var(--dark-grey);
    min-height: 50vh;
    padding:1vh;
}


.header{
    font-size:7vh;
    z-index: 1!important;
}


.green{
    color:var(--hilight);
}

.thick{
    font-weight: 700;
}

.thin{
    font-weight: 100;
}

p{
    font-size: calc(10px+5vmin);
}

h1{
    font-size: 7vh;
    
}

h2{
    font-size: 5vh;
}

h3{
    font-size: 3vh;
}

.button-green{
    margin:10px!important;
    color:white;
    font-size: 2vw;
    padding:0;
}

@media(hover: none) and (pointer: coarse){
    p{
        font-size: 40pt;
    }

    .button-green{
        font-size: 30pt;
    }
    .project{
        max-width: 95vw;
        padding:10px;
    }
    .project-holder1{
        padding:2.5vw;
    }
    .project-holder2{
        padding:2.5vw;
    }
}